@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600&family=Tajawal:wght@400;500;700&display=swap');

:root {
    --body-sidebar-bg: #ffffff;
    --main-bg: #EFEAE2;
    --header-bg: #00A884;
    --balance-bg: #ffffffac;
    --black-white-mode-text: #000000;
    --header-text: #ffffff;
}

.dark-theme-variables {
    --body-sidebar-bg: #111b21;
    --main-bg: #0B141A;
    --header-bg: #202C33;
    --balance-bg: #005C4B;
    --black-white-mode-text: #e4e4e4;
    --header-text: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

body {
    background-color: var(--body-sidebar-bg) !important;
}

.theme-toggler {
    /* background-color: var(--main-bg); */
    display: block;
    justify-content: space-between;
    height: 1.6rem;
    width: 2rem;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.theme-toggler span {
    background-color: rgb(0, 197, 144);
    border-radius: 50px;
    font-size: 1.2rem;
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.theme-toggler span.active {
    background: var(--body-sidebar-bg) !important;
    color: var(--black-white-mode-text);
    border-radius: 10px;
}

.sidebar {
    direction: rtl;
    width: 345px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: var(--body-sidebar-bg);
    z-index: 100;
    transition: margin-right 300ms;
}

.sidebar-brand {
    display: flex;
    text-align: center;
    height: 90px;
    padding: 0rem 1rem 1rem 0rem;
    color: var(--black-white-mode-text);
    font-size: 0.7rem;
    align-items: center;
    justify-content: right;
    text-align: center;
}

.sidebar-brand img {
    width: 90px;
    height: auto;
    margin-top: 0.9rem;
    margin-left: 1rem;
}

.sidebar-brand p {
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    color: var(--black-white-mode-text);
    margin-top: 1rem;
}

/*الايقونات كاملة*/
.sidebar-menu li {
    width: 100%;
}

.sidebar-menu li:hover {
    background-color: var(--main-bg);
}

/*--------الايقونات كاملة بداخلها النصوص----------*/
.sidebar-menu a {
    display: flex;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    align-items: center;
}

.sidebar-menu span {
    color: var(--black-white-mode-text);
}

.sidebar-menu a span:first-child {
    font-size: 2rem;
    padding-left: 1rem;
}

.sidebar-menu a span:nth-child(2) {
    font-size: 1rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand {
    padding-right: 0rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li {
    padding-right: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-right: 0rem;
}

#nav-toggle:checked+.sidebar li a span {
    padding-left: 1rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand p span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-right: 70px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    right: 70px;
}

.sidebar-brand img {
    display: inline-block;
    padding-left: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.main-content {
    direction: rtl;
    transition: margin-right 300ms;
    margin-right: 345px;
}

/*-------- header ---------*/
header {
    background: var(--header-bg);
    color: var(--black-white-mode-text);
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 1rem;
    box-shadow: rgba(140, 140, 150, 0.1) 0px 1px 0px;
    border-right: 1px solid var(--body-sidebar-bg);
    position: fixed;
    right: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: right 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    display: flex;
    font-size: 0.98rem;
    align-items: center;
}

/*----الثلث شخطات فوق بعض*----*/
header label span {
    font-size: 2.5rem;
    padding-left: 0.4rem;
    padding-top: 9px;
    color: var(--header-text);
    cursor: pointer;
}

header h2 p {
    text-align: center;
    padding-left: 0rem;
    font-size: 0.9rem;
    color: var(--header-text);
    font-weight: 500;
}

.user-wrapper p {
    font-size: 0.85rem !important;
    text-align: center;
    color: var(--header-text);
}

.user-wrapper small {
    font-size: 0.9rem !important;
    letter-spacing: 1px;
    text-align: center;
    color: var(--header-text);
}

.card-single-categories img {
    border-radius: 50%;
    margin-left: 1rem;
}

/*-------main-------*/
main {
    display: block;
    direction: rtl;
    margin-top: 90px;
    padding: 2rem 1.1rem;
    background: var(--main-bg);
    min-height: calc(100vh - 90px);
    color: var(--black-white-mode-text);
}

main .notes {
    margin-top: 70px;
    letter-spacing: .5px;
    font-size: 0.9rem;
}

.notes p a {
    border-radius: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 198, 106);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

}

.card-single {
    display: flex;
    justify-content: space-between;
    background: var(--balance-bg);
    padding: 1.3rem 0rem;
    border-radius: 10px;
    cursor: pointer;
}

.balanceAndID {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-single p {
    color: var(--black-white-mode-text);
    font-size: 1.3rem;
    font-family: 'Segoe UI Regular' !important;
}

.card-single div:first-child span {
    color: var(--black-white-mode-text);
    font-size: 1rem;
}

/*****banks design*******/
.banks-header {
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    font-size: 1.6em;
}

/******* game section ******/
.game_section {
    display: flex;
    flex-wrap: wrap;
}

.gameElement {
    width: 7vw;
    height: 15vh;
    padding: 10px 0px;
    margin: 10px 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.gameElement p {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.02rem;
    font-family: 'Noto Naskh Arabic', serif;
}

.gameElement img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 20px;
    -webkit-transition: .3s ease-in-out;
    transition: .1s ease-in-out;
}

.gameElement .imgAndTitle:hover img {
    opacity: 0.8;
}

.game_section a {
    color: var(--black-white-mode-text);
}

/**************/
/**************/
/*** ORDERS ****/

.orderSection {
    display: block;
    font-size: 14px;
}

.orderRow {
    display: flex;
    padding: 0.5rem;
}

.order1,
.order2,
.order3 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    color: var(--black-white-mode-text) !important;
    align-items: center;
    background-color: var(--balance-bg);
}

.orderRow p {
    margin: 0.8rem 0.1rem;
    padding: 0.5rem 0.1rem;
    line-height: 0.02rem;
}

.orderRow .order2 img {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

.orderDetailsMobile {
    color: rgb(255, 136, 136);
}

.orderDetailsMobileLabel {
    font-weight: 400;
}

.orderPrices {
    justify-content: space-between;
}

.orderProfit {
    /* background:rgb(202, 221, 204);  */
    color: rgb(192, 0, 218);
}

.turkLira {
    color: rgb(255, 136, 136);
}

/**************/
/**************/
/*** gameProductCard ****/

.gameProductSection {
    /* background-color: rgb(181, 196, 110); */
    display: flex;
    flex-wrap: wrap;
}

.gameProductCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--balance-bg);
    border: 1px solid green;
    margin: 0.6rem 0.4rem;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
}

.gameProductCard:hover {
    box-shadow: none;
}

.gameProductCardTitle {
    border-radius: 10px;
    width: 8rem;
    height: 5rem;
    padding: 1rem;
}

.gameProductCardTitle p {
    font-size: 0.9rem;
    text-align: center;
}

.gameProductCardPrice p {
    text-align: center;
    padding: 0.3rem 0;
    background: var(--header-bg);
    color: white;
    font-size: 0.9rem;
}



/**************/
/**************/
/*** Media ****/
@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }

    .cards-banks {
        grid-template-columns: 100%;
    }

    .game_section {
        display: flex;
        flex-wrap: wrap;
    }

    .gameElement {
        width: 9vw;
        margin: 0rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
    }

    .gameElement p {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .gameElement img {
        width: 4rem;
        height: 4rem;
    }

    .sidebar li {
        padding-right: 1rem;
        text-align: center;
    }

    .sidebar .sidebar-brand {
        padding-right: 0rem;
        text-align: center;
    }

    .sidebar li a {
        padding-right: 0rem;
    }

    .sidebar .sidebar-brand p span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main-content {
        margin-right: 70px;
    }

    .main-content header {
        width: calc(100% - 70px);
        right: 70px;
    }
}

/*-------------------------------------*/


@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .game_section {
        display: flex;
        flex-wrap: wrap;
    }

    .gameElement {
        width: 10vw;
        margin: 0rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
    }

    .gameElement p {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .gameElement img {
        width: 4rem;
        height: 4rem;
    }

    .orderRow {
        display: block;
    }

    .cards-banks {
        grid-template-columns: repeat(1, 1fr);
    }

    .cards-categories {
        grid-template-columns: repeat(1, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 100%;
    }

    .game_section {
        display: flex;
        flex-wrap: wrap;
    }

    .gameElement {
        width: 12vw;
        margin: 0rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
    }

    .gameElement p {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .gameElement img {
        width: 4rem;
        height: 4rem;
    }

    .orderRow {
        display: block;
    }


    .cards-banks {
        grid-template-columns: 100%;
    }

    .cards-categories {
        grid-template-columns: 100%;
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }

    .sidebar {
        right: -100% !important;
        background: var(--body-sidebar-bg);
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        text-align: center;
        background: var(--header-bg);
        border-radius: 50%;
        color: var(--black-white-mode-text);
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-right: 0rem;
        padding-top: 0px !important;


    }

    header h2 .headerTitle {
        text-align: center;
        padding-left: 0rem;
        font-size: 0.9rem;
    }

    .main-content {
        width: 100%;
        padding-left: 0rem;
    }

    header {
        width: 100% !important;
        right: 0 !important;
        background: var(--header-bg);
    }

    #nav-toggle:checked+.sidebar {
        right: 0 !important;
        z-index: 100;
        width: 100%;
    }

    #nav-toggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar li {
        padding-right: 2rem;
        text-align: right;
    }

    #nav-toggle:checked+.sidebar li a {
        padding-right: 1rem;
    }

    #nav-toggle:checked+.sidebar .sidebar-brand p span:last-child,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked~.main-content {
        margin-right: 0rem !important;
    }

    .theme-toggler {
        display: flex;
        margin-right: 3.5rem;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }

    .game_section {
        display: flex;
        flex-wrap: wrap;
    }

    .gameElement {
        width: 21vw;
        margin: 0rem 1rem 1.5rem 1rem;
        align-items: center;
        justify-content: center;
    }

    .gameElement p {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .gameElement img {
        width: 4rem;
        height: 4rem;
    }

    .orderRow {
        display: block;
    }

    .theme-toggler {
        display: flex;
        margin-right: 3.5rem;
    }

    .cards-banks {
        grid-template-columns: 100%;
    }

    .gameProductCardTitle {
        border-radius: 10px;
        width: 5.8rem;
        height: 4rem;
        padding: 0.5rem 0rem;
    }
    
}